html, body {
  height: 100%;
  width: 100%; 
  text-align:center;
  overflow-x: none;
  font-family: 'Josefin Sans', sans-serif;
  margin: 0px;
}

.container {
  max-width: 900px;
  margin-left: auto;
  margin-right: auto;
  padding: 30px 0px;
}

a {
  text-decoration: none;
  color: inherit;
  transition: ease 0.5s;
}

a:hover {
  background-color: #ffd9a8;
}

h4 {
  font-size: 1.3em;
  font-weight: 700;
}

.header {
  width: 100vw;
  height: 80vh;
  max-height: 600px;
  position: relative; 
  overflow: none;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #e8ba30;
  font-size: 1.4em;
/*   -webkit-text-stroke: 0.5px black;
} */
}

.header:before {
  position: absolute;
  width: 100%;
  height: 100%;
  bottom: 0;
  left: 0;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),url( 
https://cloud-e0yu11qvq-hack-club-bot.vercel.app/0img_3047.jpg
);
  background-position: top center;
  background-size: cover;
  opacity: .9;
    content: "";
    z-index: -1;
  filter: blur(0.4px);
}

.header h1 {
  font-size: 64px;
}


.header a {
  padding: 10px 15px;
  background-color: #e0ad12;
  color: black;
  border-radius: 50px;

}

.small {
  display: none;
}
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 20px;
  margin: 20px 10px 60px 10px;
} 
.blopn {
  position:relative;
/*   padding-bottom:115px; */
}
.barrakobama {
background-image: url(https://cloud-4oizff4sj-hack-club-bot.vercel.app/0img_6495.jpg);
  width:100%;
  height: calc(90vw/3);
  min-height: 200px;
  max-height: 300px;
  background-position: bottom left;
  background-size: cover;
  border-radius: 5px;
}
.MUDDAH {
background-image: url(https://cloud-ew8oe76xy-hack-club-bot.vercel.app/0img_0073.jpg);
  width:100%;
  height: calc(90vw/3);
  min-height: 200px;
  max-height: 300px;
background-position: bottom left;
  background-size: cover;
  border-radius: 5px;
}
.BUDDAH {
background-image: url(https://cloud-cyxx2i5u2-hack-club-bot.vercel.app/0snowycharlotte.jpg
);
  width:100%;
  height: calc(90vw/3);
  min-height: 200px;
  max-height: 300px;
  background-position: bottom left;
  background-size: cover;
  border-radius: 5px;
}
.grid-2 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  column-gap: 10px;
}

ul {
  text-align:left;
}

.button-box {
  margin: 5px 0px;
  text-align: left;
  margin: auto;
}

.button {
  padding: 10px 15px;
  background-color: antiquewhite;
  border-radius: 5px;
  width: 70%;
  display: block;
}

.care {
  width: 70%;
  height: auto;
  background-color: antiquewhite;
  border-radius: 5px;
  padding: 5px 20px 10px 20px;
  text-align: center;
}


h4 {
  font-size: 1.3em;
}

@media screen and (max-width: 760px) {
  .care {
    margin-top: 10px;
    width: 90%;
    height: 100px;
}

.button {
  width: 90%;
}

  .grid-2 {
    grid-template-columns: repeat(1, 1fr);
    max-width: 90vw;
    margin: auto;
  }
}
@media screen and (max-width: 480px) {
  .grid {
    grid-template-columns: repeat(1, 1fr);
    margin: 10px 20px;
  }

  .large {
    display: none;
  }

  .small {
    display: block;
  }

  .care {
    margin-top: 50px;
    width: 95%;
    height: auto;
    padding: 10px 10px;
}


  .header {
    text-align: left;
  }

  .header h1 {
  font-size: 54px;
    margin: 0px 20px;
}

  .header h2 {
    margin: 20px 20px;
  }

  .header a {
    margin: 20px;
    margin-top: 40px;
  }

  .join {
    margin-top: 30px;
  }

  .join h2, .join p {
    margin: 5px 20px;
  }

}

.mail {
  display: flex;
  justify-content: center;
  align-items: center;
}

legend, fieldset {
  border: none;
}

.btn {
  padding: 5px 8px;
  border-radius: 5px;
  background-color: white;
  border: none;
}

.footer {
  width: 100vw;
  padding: 20px 0;
  background: antiquewhite;
}

form h3 {
  margin: 0;
}